* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Light", sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

.page-title {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 20px;


  @media (max-width: 560px) {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-bottom: 15px;
    position: relative;


    &:after {
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      background-color: #757575;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

  }
}

