.footer {
  background: #262626;
  height: 550px;

  &__header {
    height: 115px;
    border-bottom: 1px solid #979797;
    display: flex;
    align-items: center;

    .header____title {
      color: #57AD56;
      font-size: 18px;
      width: 134px;
      height: 20px;
      font-weight: 100;
      letter-spacing: 3px;
      text-transform: uppercase;
      flex-grow: 1;

    }

    .header__title {
      span {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
      }

    }

  }
  &__list {
    height: 220px;
    border-bottom: 1px solid #979797;
    display: flex;

  }
}


