
.intro {

  background-image: url("../img/intro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    align-items: center;
    height: 364px;

  }

  &__banner {
    position: relative;
    
    @media (max-width: 560px) {
      height: 180px;
      width: 308px;
      top: 30px;
    }

  }

  @media (max-width: 560px) {
    top: 55px;
    height: 255px;

  }
}


.banner {
  max-width: 400px;
  height: 180px;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
  padding: 20px 15px 30px 15px;

  &__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__text {
    color: #626262;
    font-size: 14px;
    position: absolute;
    margin-left: 15px;
    margin-top: 9px;


  }

  &__button {
    background: #262626;
    border-radius: 16px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 105px;
    height: 33px;
    padding: 8px 12px 8px 12px;
    align-items: center;
    position: relative;
    float: right;
    margin-right: 15px;

  }

  @media (max-width: 560px) {

    &__title {
      font-size: 24px;
      line-height: 28px;

    }

    &__text {
      right: 83px;
      bottom: 65px;

    }

    &__button {
      right: 62px;
      top: 33px;
      width: 108px;
    }
  }

}


