.main {

  &__nav {
    height: 80px;
  }

  &__title {
    color: #1D1D1D;
    font-size: 22px;
    text-align: center;

  }

  &__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #757575;
    margin: 10px auto 40px;

  }

  &__item {
    margin-left: 10px;
    margin-bottom: 20px;
    height: 102px;
  }

  &__item_img {
    border-radius: 2px;
    float: right;
    margin-right: 4px;
  }


  &__item_text {
    color: #1D1D1D;
    font-size: 16px;
    margin-bottom: 55px;

    span {
      color: #626262;
      font-size: 14px;
      margin-bottom: 20px;
      display: block;

    }

  }

  &__item_price {
    color: #1D1D1D;
    font-size: 20px;
    font-weight: 700;
  }
}

