* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Light", sans-serif; }

.container {
  max-width: 950px;
  margin: 0 auto; }

.page-title {
  height: 122px;
  padding-top: 60px;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal; }

.header__inner {
  height: 72px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px; }
.header__title {
  color: #57AD56;
  font-size: 18px;
  width: 134px;
  height: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-grow: 1; }
.header__title span {
  color: black;
  font-size: 18px;
  font-weight: 700; }
.header__button {
  width: 90px;
  height: 45px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid #E0E0E0;
  border-radius: 2px;
  padding-top: 10px;
  margin-right: 26px; }
.header__basket {
  background: url("../img/header-icon.png");
  width: 19px;
  height: 23px; }

.intro {
  height: 364px;
  background-image: url("../img/intro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 95px; }
  .intro__inner {
    max-width: 400px;
    height: 180px;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
    padding: 20px 15px 30px 15px; }
    .intro__inner .title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px; }
    .intro__inner .text {
      color: #626262;
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px; }
    .intro__inner .button {
      background: #262626;
      border-radius: 16px;
      color: #fff;
      font-size: 10px;
      text-align: center;
      max-width: 95px;
      padding: 8px 10px 8px 10px;
      align-items: center;
      margin: auto; }

.nav {
  border-bottom: 1px solid rgba(117, 117, 117, 0.2); }
  .nav__inner {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px; }
    .nav__inner a {
      font-size: 16px;
      line-height: 19px;
      color: #626262;
      text-decoration: none;
      margin-right: 45px; }
    .nav__inner a:hover {
      color: #327430; }

.listing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .listing__item {
    width: 49%;
    margin-bottom: 65px; }

.teaser {
  background: rgba(117, 117, 117, 0.04);
  border: 1px solid rgba(117, 117, 117, 0.4);
  display: flex;
  border-radius: 2px; }
  .teaser__left {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column; }
  .teaser__right {
    flex-shrink: 0; }
  .teaser__title {
    font-size: 16px;
    line-height: 24px; }
  .teaser__text {
    color: #626262;
    font-size: 13px;
    line-height: 21px;
    margin-top: 2px;
    flex-grow: 1; }
  .teaser__img {
    width: 170px;
    height: 160px;
    display: block; }
    .teaser__img.round {
      border-radius: 2px; }

/*# sourceMappingURL=styles.css.map */
