.teaser {
  background: rgba(117, 117, 117, 0.04);
  border: 1px solid rgba(117, 117, 117, .4);
  display: flex;
  border-radius: 2px;

  @media (max-width: 560px) {

    border: none;
    background: none;
    border-bottom: 1px solid rgba(117, 117, 117, .4);
  }

  &__left {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  &__right {
    flex-shrink: 0;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;

  }

  &__text {
    color: #626262;
    font-size: 13px;
    line-height: 21px;
    margin-top: 2px;
    flex-grow: 1;
  }

  &__img {
    width: 170px;
    height: 160px;
    display: block;

    &.round {
      border-radius: 2px;

    }

  }

  @media (max-width: 560px) {

    &__title {
      width: 165px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__img {
      width: 110px;
      height: 110px;
    }


  }
}

.teaser-search {


  &__img {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 15px;
  }

  &__price {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    margin-bottom: 15px;
  }

  &__time {
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
    margin-bottom: 50px;
  }
}

.teaser-search:hover {
  background-color: #e3e3e3;
}
